/* Estilos gerais */
.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Estilos para o cronômetro */
.timer {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.options button {
  font-size: 24px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options button:hover {
  background-color: #45a000;
}

.options button:active {
  background-color: #acf00e;
}

/* Estilos para o contador regressivo */
.mode {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}

.mode label {
  margin-right: 10px;
  justify-content: center;
}

#countdownTime {
  margin-top: 10px;
  justify-content: center;
  font-size: 16px;
  padding: 5px;
}

/* Estilos para a grade de flexbox */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  flex: 1;
  padding: 0 15px;
}

/* Estilos para a responsividade */
@media screen and (max-width: 768px) {
  .timer {
    font-size: 36px;
  }

  .options button {
    font-size: 20px;
  }

  .mode label {
    font-size: 14px;
  }
}
